* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
h2,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

a,
ins {
  text-decoration: none;
}

@font-face {
  font-family: "ArialIt";
  font-display: swap;
  src: url("../fonts/Arial-ItalicMT.woff") format("woff"), url("../fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/ArialMT.woff") format("woff"), url("../fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TNRoman";
  font-display: swap;
  src: url("../fonts/TimesNewRomanPSMT.woff") format("woff"), url("../fonts/TimesNewRomanPSMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-align-center {
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-bottom {
  margin-top: auto;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  color: #292929;
  background: #f1cdb3;
  border-color: #f1cdb3;
  border: 2px solid transparent;
  outline: none;
  display: inline-block;
  -webkit-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
  position: relative;
  padding: 1.1em 2.7em;
  min-width: 205px;
  border-radius: 4em;
  font-size: 1.063em;
  font-family: Georgia;
}

.btn:hover {
  background: #fff;
  border-color: #f1cdb3;
}

.btn:focus,
.btn.focus,
.btn:active,
.btn.active,
.open > .btn.dropdown-toggle {
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
  color: #292929;
  background: #fff;
  border-color: #f1cdb3;
}

.btn.btn--white {
  background: #fff;
  border-color: #f1cdb3;
}

.btn.btn--white:hover {
  background: #f1cdb3;
}

.relative {
  position: relative;
}

.sz-12 {
  font-size: 0.75em;
}

.sz-13 {
  font-size: 0.813em;
}

.sz-15 {
  font-size: 0.938em;
}

.sz-17 {
  font-size: 1.063em;
}

.sz-20 {
  font-size: 1.25em;
}

.txt-white {
  color: #fff;
}

.txt-grey {
  color: #cdcdcd;
}

.txt-d-grey {
  color: #545454;
}

.txt-sd-grey {
  color: #4c4c4c;
}

.ff-arial {
  font-family: Arial;
}

.mb-25 {
  margin-bottom: 1.563rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-45 {
  margin-bottom: 2.813rem;
}

.mb-65 {
  margin-bottom: 4.063rem;
}

.mt-25 {
  margin-top: 1.563rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mt-45 {
  margin-top: 2.813rem;
}

.mt-65 {
  margin-top: 4.063rem;
}

.menu-btn {
  display: none;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

/* ANIMATION */

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
      -ms-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
      -ms-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

body,
html {
  font-size: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 100%;
  font-family: "Georgia", Times, serif;
  font-weight: normal;
  line-height: 1.3;
  color: #545454;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 3.75em 0 1em;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.header--scroll {
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.75em 0 1em;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #fff;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 75em;
}

.section {
  position: relative;
}

.section-fluid--main {
  background: url("../img/bg/main_dog.jpg") no-repeat right bottom;
  background-size: cover;
  padding: 7.438em 0 16.875em;
}

.section-fluid--grey {
  background: #f6f6f6;
}

.section-fluid--puppy {
  background: url("../img/bg/footer.jpg") no-repeat right bottom;
  background-size: cover;
  padding: 5.313em 0;
}

.section-about {
  padding: 5.625em 0;
}

.section-slider {
  padding: 5em 0 4.375em;
}

.section-help {
  padding: 4.688em 0 0;
}

.section-donate {
  padding: 5.313em 0 5.625em;
}

.block {
  position: relative;
}

.block--main {
  padding-top: 15.625em;
}

.block--about__img {
  max-width: 18.75em;
  margin: 0 auto;
}

.block--40 {
  width: 40%;
}

.block--50 {
  width: 50%;
}

.block--60 {
  width: 60%;
}

.block__title {
  font-size: 2.188em;
  line-height: 1.3;
}

.block__txt {
  line-height: 1.5;
}

.block--contact {
  margin-right: 6em;
}

.logo__link {
  margin-bottom: 5px;
}

.navigation__item {
  position: relative;
}

.navigation__item:after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -5px;
  background-color: transparent;
  -webkit-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

.navigation__item:hover:after {
  width: 100%;
  background-color: #f1cdb3;
}

.navigation__item:not(:last-child) {
  margin-right: 2.5em;
}

.owl__wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.owl-dots {
  display: none;
}

.owl-item {
  text-align: center;
  padding: 2.5rem;
  background: #fafafa;
  border-radius: 10px;
}

.slider .owl-carousel .owl-nav {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.slider .owl-carousel .owl-nav button {
  width: 3.125em;
  height: 3.125em;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background: #fff;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.slider .owl-carousel .owl-nav button:hover {
  background: #f1cdb3;
}

.slider .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -90px;
}

.slider .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -90px;
}

.slider .owl-carousel .owl-nav button img {
  width: 17px;
  margin: 0 auto;
}

.help__item {
  width: 20%;
  text-align: center;
  margin-bottom: 4.688em;
}

.help__img {
  height: 60px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 1.8em;
}

.donate__img-block {
  width: 40%;
}

.donate__form {
  margin-bottom: 1.25em;
}

.donate__form-block {
  width: 50%;
}

.donate__input {
  border: 2px solid #f1cdb3;
  background: #f1cdb3 url(../img/icons/icon_credit-card.png) no-repeat 8px center;
  background-size: 30px;
  padding: 8px 8px 8px 45px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  color: #292929;
  font-family: "TNRoman";
}

.donate__text {
  color: #b2b2b2;
  font-family: "ArialIt";
  font-size: 0.75em;
}

.contact__link {
  color: #f1cdb3;
  position: relative;
  padding-left: 64px;
}

.contact__link.contact__link--mail:before {
  background: url(../img/icons/icon_mail.png) no-repeat;
  background-size: contain;
}

.contact__link.contact__link--phone:before {
  background: url(../img/icons/icon_phone.png) no-repeat;
  background-size: contain;
}

.contact__link.contact__link--location {
  padding-left: 35px;
}

.contact__link.contact__link--location:before {
  background: url(../img/icons/icon_location.png) no-repeat;
  background-size: contain;
}

.contact__link.contact__link:hover {
  color: #fff;
}

.contact__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 25px;
}

@media (max-width: 1500px) {
  body {
    font-size: 95%;
  }

  .section-fluid--puppy {
    background: url(../img/bg/footer.jpg) no-repeat 70% bottom;
  }

  .section-fluid--main {
    background: url(../img/bg/main_dog.jpg) no-repeat 60% bottom;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 90%;
  }

  .slider .btn {
    padding: 0.8em 1.2em;
    min-width: 140px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 85%;
  }

  .menu-btn {
    display: block;
  }

  .flex-sm--column {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .navigation {
    position: absolute;
    width: 200px;
    right: 0;
    top: -500px;
    -webkit-transition: top 0.45s ease;
    -o-transition: top 0.45s ease;
    transition: top 0.45s ease;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1em;
  }

  .navigation__item {
    margin-bottom: 1em;
    -webkit-transition: scale 0.25s ease;
    -o-transition: scale 0.25s ease;
    transition: scale 0.25s ease;
  }

  .navigation__item:after {
    display: none;
  }

  .navigation__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .menu-btn.open ~ .navigation {
    top: 0;
  }
}

@media (max-width: 767px) {
  .section-fluid--puppy,
  .section-fluid--main {
    background: #000;
    padding: 2em 3em;
  }

  .block--40 {
    width: 100%;
    text-align: center;
  }

  .slider .owl-carousel .owl-nav button.owl-next {
    right: -40px;
  }

  .slider .owl-carousel .owl-nav button.owl-prev {
    left: -40px;
  }

  .flex-xs-column {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .donate__img-block {
    width: 100%;
  }

  .donate__form-block {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }

  .help__item {
    width: 100%;
  }
}

@media (max-width: 561px) {
  .form {
    width: 100%;
  }

  .form__input {
    width: 100%;
  }

  .block--contact {
    margin-right: 0;
    text-align: center;
  }

  .block--location {
    margin-top: 2em;
    text-align: center;
  }

  .block--50 {
    width: 100%;
  }

  .block--about__img {
    margin-bottom: 2em;
  }

  .contact__link {
    padding-left: 0;
  }

  .contact__link.contact__link--location {
    padding-left: 0;
  }

  .contact__link:before {
    display: none;
  }
}